<div class="row">
    <section id="items-container" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            {{#each this}}
            <div class="product-list-item col-lg-4 col-md-6 col-sm-12 col-xs-12">                
                <h4 class="product-name">{{name}}</h4> 
                <img src={{imageURL}} alt="accessory" class="img-responsive"> 
                <h4>Price: {{price}} BGN</h4>              
                <div>
                    <a class="btn btn-info" href="#{{productDetailPath}}">More info</a>
                    <button class="add-to-cart-button btn btn-info" value="{{@index}}">Add</button>
                </div>
            </div>
            {{/each}}
    </section>
</div>