<div class="row">
    <section id="items-container" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

            {{#each this}}
            <div class="food-list-item col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div id="name-and-price">
                    <h4>{{name}}<span> ${{price}}</span></h4>
                </div>
                <div class="img-container">
                    <img src={{imageURL}} alt="food" class="img-responsive">
                </div>
                <div>
                    <a class="btn btn-info" href="#{{productDetailPath}}">More info</a>
                    <button class="add-to-cart-button btn btn-info" value="{{@index}}">Add</button>
                </div>
            </div>
            {{/each}}

    </section>
</div>