<section>
    <h2>Shopping cart</h2>

    <table class="table table-hover table-responsive">
        <tr class="row">
            <th class="col-lg-2 col-md-3 col-sm-6">Name</th>
            <th class="col-lg-2 col-md-3 col-sm-6">Description</th>
            <th class="col-lg-1 col-md-1 col-sm-4">Amount</th>
            <th class="col-lg-1 col-md-1 col-sm-4">Price</th>
            <th>info/remove</th>
        </tr>
        {{#each products}}
        <tr class="row shopping-cart-item">
            <td class="cart-img col-lg-2 col-md-3 col-sm-6">
                <h4>{{name}}</h4>
                <img src={{imageURL}} alt="food">
            </td>
            <td class="col-lg-2 col-md-3 col-sm-6">
                <p>{{description}}</p>
            </td>
            <td class="col-lg-1 col-md-1 col-sm-4"><span>{{amountInKg}} kg</span></td>
            <td class="col-lg-1 col-md-1 col-sm-4"><span class="item-price">{{price}}</span><span> BGN</span></td>
            <td>
                <a class="btn btn-info" href="#{{productDetailPath}}"><span class="glyphicon glyphicon-info-sign"></span></a>
                <button class="remove-from-cart-button btn btn-danger" name="{{idInCart}}"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        {{/each}}
    </table>

    <div class="buy">
        <span>Total:</span> <span><span id="total-price-container">{{totalPrice}}</span> BGN</span>
        <button class="btn btn-success">Buy the products</button>
    </div>

</section>