<section>
    <h3>{{name}}</h3>
    <div class="large-img-container">
        <img src={{imageURL}} alt="food">
    </div>
    <div><span>Description:</span> <span>{{description}}</span></div>
    <div><span>Amount:</span> <span>{{amountInKg}} kg</span></div>
    <div><span>For cat age:</span> <span>{{catAgeSpecific}}</span></div>
    <div><span>Price:</span> <span>{{price}} BGN</span></div>
    <button class="btn btn-info">Add to cart</button>    
</section>