<div class="row">

    <aside id="filter" class="col-lg-3 col-md-3 col-sm-4 col-xs-11 shadow">

        <input id="show-all-products" type="checkbox" name="" value="">
        <label for="show-all-products">Show all</label>

        <h4>Filter by cat's age</h4>
        <div class="sub-filter">
            {{#each catAges}}
                <div> 
                    <input id="filter-age-{{ageString}}" type="checkbox" name="catAgeSpecific" value="{{ageString}}" {{#if isSelected}}checked="checked"{{/if}}>
                    <label for="filter-age-{{ageString}}">{{ageString}}</label>
                </div>
            {{/each}}
        </div>
        <h4>Filter by amount</h4>
        <div class="sub-filter">
            {{#each catFoodAvailableAmounts}}
                <div> 
                    <input id="filter-age-{{amountInKg}}" type="checkbox" name="amountInKg" value="{{amountInKg}}" {{#if isSelected}}checked="checked"{{/if}}>
                    <label for="filter-age-{{amountInKg}}">{{amountInKg}} kg</label>
                </div>
            {{/each}}
        </div>
        <button id="filter-cat-food-button" class="btn-lg btn-primary" type="button">Filter</button>
    </aside>
    <!-- end aside -->

    <section id="items-container" class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        {{#each catFoodList}}
        <div class="food-list-item col-lg-4 col-md-6 col-sm-12 col-xs-12">
<<<<<<< HEAD
            <div id="name-and-price">
                <h4>{{name}}<span> {{price}} BGN</span></h4>
=======
            <div class="name-and-price">
                <h4>{{name}}<span> ${{price}}</span></h4>
>>>>>>> 381a49ebd7cc04214703abc264b049950cd607b6
            </div>
            <div class="img-container">
                <img src={{imageURL}} alt="food">
            </div>
            <div>
                <a class="btn btn-info" href="#{{productDetailPath}}">More info</a>
                <button class="add-to-cart-button btn btn-info" value="{{@index}}">Add to cart</button>
            </div>
        </div>
        {{/each}}
    </section>
</div>