 <section class="container">
    <div class="col-lg-6 col-md-7 col-sm-10 col-xs-11">
        <h2>{{name}}</h2>
        <img src={{imageURL}} alt="cat-breed" class="img-responsive">
        <h4>Description:</h4>
        <p class="text-justify">{{description}}</p>
        <h4>Breed Characteristics:</h4>
        <ul class="list-group">            
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="Cats that tend to be more playful and easygoing around children and are more tolerant of children's behavior.">Child Friendly</p>
                <div class="el-inline" id="stars-{{childFriendly}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>                             
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="Amount of bathing, brushing, even professional grooming needed.">Grooming</p>
                <div class="el-inline" id="stars-{{grooming}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="Level of health issues a breed tends to have.">Health Issues</p>
                <div class="el-inline" id="stars-{{healthIssues}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="A cat's thinking and problem-solving ability (not trainability).">Intelligence</p>
                <div class="el-inline" id="stars-{{intelligence}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="Level of activity often exhibited.">Energy Level</p>
                <div class="el-inline" id="stars-{{energyLevel}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="How easily a cat deals with change.">Adaptability</p>
                <div class="el-inline" id="stars-{{adaptability}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>
            <li class="list-group-item">
                <p class="el-inline" data-toggle="tooltip" title="Level and frequency of cat hair shedding.">Shedding Level</p>
                <div class="el-inline" id="stars-{{sheddingLevel}}"> 
                    <div class="star star-1"></div> 
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <div class="star star-4"></div>
                    <div class="star star-5"></div>       
                </div>
            </li>                   
        </ul>
    </div>
</section>